.Mastermind {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Mastermind-header {
  font-size: calc(10px + 2vmin);
  color: white;
}

.Mastermind-description {
  color: white;
  text-align: justify;
  margin-bottom: 20px;
  width: clamp(300px, 40vw , 600px);
}